html {
  box-sizing: border-box;
  font-family: 'Bevan', cursive;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.planets {
  margin: 0.3em
}

nav {
  background-color: #79756f;
}
