html {
  box-sizing: border-box;
  font-family: 'Bevan', cursive;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #79756f;
}

header {
  text-align: center;
}

li a {
  color: #fff;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  background-color: #713837;
  padding: .6em;
  border-radius: 10px;
}
